@model DoAn1_BanFinal.Models.Donhang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhThoigianmua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhThoigianmua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhTinhtrangdonhang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhTinhtrangdonhang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhTinhtranggiaohang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhTinhtranggiaohang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DhTongtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DhTongtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kh.KhId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DhId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
